@import url('http://fonts.cdnfonts.com/css/common-pixel');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    background-color: #232434;
    font-family: 'Common Pixel', sans-serif;
}

.header {
    width: 900px;
    padding: 30px;
    margin-bottom: 30px;
    text-align: center;
    font-size: 55px;
    background-color: #04aa6d;
    border-radius: 25px;
}

#buttons-container {
    display: flex;
    justify-content: space-around;
    width: 900px;
    gap: 50px;
}

button {
    width: 250px;
    height: 250px;
    border-radius: 20px;
    border: 2px solid black;
    background-color: #04aa6d;
}

.button-img {
    width: 240px;
    height: auto;
}

#results {
    display: flex;
    flex: 1;
    flex-direction: column;
    width: 600px;
    background-color: #232434;
    align-items: center;
}

#result {
    text-align: center;
    font-size: 50px;
    color: #04aa6d;
}

#score {
    text-align: center;
    color: #04aa6d;
    font-size: 45px;
    padding: 30px;
}

.footer{
    height: 35px;
    color: antiquewhite;
    text-align: center;
}